@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>This is the solution of Kenneth Targosz (student #: 8708785)</p>
    <a href="@Url.Action("List", "Transaction")">View All Transactions</a>
</div>
